<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FirstSuite">
	<test name="FirstTest">
		<classes>   
	
			<class name="PracticeTestNGYoutube.searchBuyPhone" />
			<class name ="PracticeTestNGYoutube.FirstTestCase"/>
		</classes>
	</test>
	
	
	
	<test name="SecondTest">
		<classes>
			<class name ="PracticeTestNGYoutube.searchBuyPhone" >
			<methods>
			
			<include name ="search"/>
			
			
			</methods>
			</class>
		</classes>
	</test>
	
	
	
	
	<test name="ThirdTest">
		<classes>
			<class name ="PracticeTestNGYoutube.FirstTestCase" >
			<methods>
			
			<include name ="SecondTestNG"/>
			
			
			</methods>
			</class>
		</classes>
	</test>
	
	
	
	
	
	
	
	
</suite> 

